.container
  %h3= @tournament.name
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.nav-item{:role => "rules_and_regulations"}
      %a.nav-link.active{"aria-controls" => "rules_and_regulations", "data-toggle" => "tab", :href => "#rules_and_regulations", :role => "tab"}= t('.rules_and_regulations')
    %li.nav-item{:role => "register"}
      %a.nav-link{"aria-controls" => "register", "data-toggle" => "tab", :href => "#register", :role => "tab"}= t('.register')
    %li.nav-item{:role => "detail"}
      %a.nav-link{"aria-controls" => "details", "data-toggle" => "tab", :href => "#details", :role => "tab"}= t('.details')

  .tab-content
    #rules_and_regulations.tab-pane.active{:role => "tabpanel"}
      != @tournament.rules_and_regulations_page.html_content
    #register.tab-pane{:role => "tabpanel"}
      != @tournament.register_page.html_content
    #details.tab-pane{:role => "tabpanel"}
      = render 'detail', tournament: @tournament
