%button(type="button" class="reset")= t('show_all')

%table#matchesTable.tablesorter-blue
  %thead
    %th.filter-select.filter-onlyAvail= t('activerecord.attributes.match.group')
    %th= t('activerecord.attributes.match.code')
    %th= t('activerecord.attributes.match.team_a')
    %th= t('activerecord.attributes.match.team_b')
    %th.filter-false= t('activerecord.attributes.match.score')
    %th.filter-false= t('activerecord.attributes.match.point')
    %th.filter-select.filter-match= t('activerecord.attributes.match.time')
    %th.filter-select.filter-onlyAvail= t('activerecord.attributes.match.venue')
  %tbody
    - @matches.each do |m|
      %tr
        %td= m.group.name
        %td= m.code
        %td= m.team_a.name
        %td= m.team_b.name
        %td= m.score
        %td= m.point
        %td= l(m.time, format: :long)
        %td= m.venue.name

:javascript
  $('#matchesTable').tablesorter({
    sortList: [[1,0]],
    headers: {
      6: { sorter: 'text'}
    },
    widgetOptions: {
      filter_selectSource: {
        6: function(table, column, onlyAvail){
          var array = $.tablesorter.filter.getOptions(table, column, onlyAvail);
          var dates = array.map(function(item) {
            return item.substr(0, 10);
          });
          return _.uniqBy(dates, function(item) { return item; }).sort();
        }
      },
    }
  });
